@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #e5e7eb;
}

html,
body {
  background: radial-gradient(
      1200px 600px at top center,
      rgba(59, 130, 246, 0.08),
      transparent 60%
    ),
    linear-gradient(180deg, #020617 0%, #000000 100%);
  color: var(--foreground);
}

